<div class="code-block" style="color: #ff">
  <div>
    {{ $opts_light := merge .Options (dict "lineNos" true "lineNumbersInTable" false "style" "catppuccin-latte" "guessSyntax" true) }}
    {{ $codeblock_light := transform.HighlightCodeBlock . $opts_light }}
    {{ $opts_dark := merge .Options (dict "lineNos" true "lineNumbersInTable" false "style" "gruvbox" "guessSyntax" true) }}
    {{ $codeblock_dark := transform.HighlightCodeBlock . $opts_dark }}
    <div class="inline" >
      {{ $codeblock_light.Wrapped }}
    </div>
  </div>
</div>
