<article class="post-card post"> 
    <a class="post-card-image-link" href="{{ .Permalink }}">
    {{with .Resources.Get .Params.image }}
    <div class="post-card-image" style="background-image: url({{ .RelPermalink }})"></div>
    {{else}}
      <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    {{end}}
    </a>    

    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
              {{ with .Params.tags }}
                <span class="post-card-tags">
                  {{ range $index, $tag := . }}
                    #{{$tag}} {{end}}
                </span>
              {{ end }}
              <h2 class="post-card-title">{{.Title}}</h2>
          </header>
          <section class="post-card-excerpt">
              {{ if .Description }} 
                <p>{{ .Description | markdownify }}</p>
              {{else}}
                <p>{{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}} </p>
              {{end}}
          </section>
      </a>

      <footer class="post-card-meta">
          {{ with .Resources.Get .Params.authorAvatar }}
            <img class="author-profile-image" src="{{ .Permalink }}" alt="Author" />
          {{ else }}
            <img class="author-profile-image" src="/img/ada.jpg" alt="Author" />
          {{end }}
          <span class="post-card-author"><a href="/">{{.Params.author | default .Site.Params.author}}</a></span>
      </footer>
    </div>
</article>
